<div class="col-xs-12 col-sm-3 col-md-3">
    <div class="list-group section-menu" id="section-menu">
        <a title="" class="list-group-item child section" routerLink="/home" routerLinkActive="active">Home</a>
        <a title="" class="list-group-item child section" routerLink="/home/authors" routerLinkActive="active">Authors</a>
        <a title="" class="list-group-item child section" routerLink="/home/books" routerLinkActive="active">Books</a>
        <a title="" class="list-group-item child section" routerLink="/home/users" routerLinkActive="active">Users</a>
        <a title="" class="list-group-item child section" href="#">Sidebar Link #6</a>
        <br>
    </div>
</div>
<div class="col-xs-12 col-sm-9 col-md-9">
    <h2>Welcome</h2>
    <div class="welcomeBox" id="wlcmDv">
        <div class="row">
            <!-- column 1 -->
            <div class="col-xs-12 col-sm-6 col-md-6 borderRightGrey">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>

                <h5 class="paragraphHeading">How do I submit an application?</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>

                <h5 class="paragraphHeading">How do I edit a previously saved application?</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>

                <h5 class="paragraphHeading">How do I submit my application?</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
            <!-- /column 1 -->

            <!-- column 2 -->
            <div class="col-xs-6">
                <h4 class="formApprovalNumber setHeightWelcome">Form Approval: XXX</h4>

                <dl class="inlineDescription">
                    <dt>Expiration Date:</dt>
                    <dd>XX-XX-XXXX</dd>
                </dl>

                <p>
                    See Statement at end of form.
                </p>

                <p>
                    An Agency may not conduct or sponsor, and a person is not required to respond to a collection of information unless it displays
                    a currently valid control number.
                </p>

                <p>
                    Click
                    <a href="#">here</a> to download control number XXXX
                </p>

                <p class="welcomeBottom green-normal-text">
                    Note: The system will automatically time out if there is no activity for 30 minutes. Unsaved data will be lost.
                </p>
            </div>
            <!-- /column 2 -->
        </div>
        <!-- /row (1st row inside welcomeBox -->
    </div>
</div>