<div class="container white-bg">
    <header>
        <div class="row demo-masthead">
            <div class="col-xs-12 col-md-12 demo-masthead-container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 demo-icon">
                        <a title="External link: DEMO.com" href="http://www.demo.com/" target="_blank">DEMO</a>
                    </div>
                    <div class="col-xs-12 col-sm-7 demo-account">
                        <ul>
                            <li> Welcome, USERNAME HERE</li>
                            <li>
                                <a href="javascript:confirmExitToDEMOHomeFromMainMenu();">DEMO HOME</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row demo-masthead" id="top">
            <div class="banner">
                <div class="demo-masthead-logo">
                    <img class="img-responsive" alt="DEMO: Program" src="./assets/images/logo_demo.png"> </div>
                <div class="demo-masthead-program">
                    <h1> Demo Administration </h1>
                    <h2> Demo Program </h2>
                </div>
            </div>
        </div>
    </header>
    <section class="row section-title">
        <div class="col-xs-12 col-sm-4 pull-right text-right">
            <div class="print">
                <a title="Print this page" class="btn btn-xs" role="button" href="javascript:window.print()">
                    <span class="fa fa-print" aria-hidden="true"></span>
                    <span class="visible-xs">Print</span>
                </a>
            </div>
            <div class="help">
                <a title="Get Help" class="btn btn-xs" role="button" href="https://www.access.demo.com/#top" target="_blank">
                    <span class="fa fa-question-circle" aria-hidden="true"></span>
                    <span class="visible-xs">Help</span>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 section-heading">
            <h3>Section Header</h3>
        </div>
        <div class="col-xs-12 col-sm-12">
            <app-bread-crumb></app-bread-crumb>
        </div>
    </section>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
    <footer>
        <ul>
            <li>
                <a title="External link: DEMO.com" href="http://www.demo.com/" target="_blank">DEMO</a>
            </li>
        </ul>
    </footer>
</div>